* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 16px;
    font-family: "Open Sans";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* helper classes */

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.boxing {
    box-sizing: border-box;
}

/* Layout Styles */

#tab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 100;
}

#views {
    position: relative;
    top: 50px;
    width: 100%;
}

/* Main Styles */

.tab-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.tab-list .tab-item {
    position: relative;
    height: 100%;
    color: #201e1e;
    float: left;
    padding: 14px 24px 0 24px;
    font-size: 15px;
    cursor: pointer;
}

.tab-list .tab-item.active {
    position: relative;
    border-bottom: 3px solid #c83530;
}

.views .view {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

/* Home View */

.home-view {
    position: relative;
}

.home-view .top-headline {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
}

.home-view .top-headline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 5;
}

.home-view .top-headline .headline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://i2.cdn.cnn.com/cnnnext/dam/assets/150820111300-delta-plane-file-super-tease.jpg) center no-repeat;
    background-size: cover;
}

.home-view .top-headline .info {
    position: absolute;
    bottom: 80px;
    left: 50px;
    z-index: 10;
}

.home-view .top-headline .info .news-header {
    position: relative;
    color: white;
    font-family: "Georgia";
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 26px;
    width: 72%;
    line-height: 30px;
}

.home-view .top-headline .info .news-desc {
    position: relative;
    color: white;
    width: 60%;
    line-height: 24px;
    margin-bottom: 36px;
}

.home-view .top-headline .info .news-src {
    position: relative;
    color: white;
}

.home-view .top-headline .info .news-src .src-logo {
    position: relative;
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    background: url(http://icons.better-idea.org/icon?url=cnn.com&size=80..120..200) center no-repeat;
    background-size: cover;
    margin-right: 18px;
}

.home-view .top-headline .info .news-src .src {
    position: relative;
    float: left;
    top: 6px;
}