* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 16px;
    font-family: "Open Sans";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* helper classes */

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.boxing {
    box-sizing: border-box;
}

/* Layout Styles */

#tab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 100;
}

#views {
    position: relative;
    top: 48px;
    width: 100%;
}

/* Main Styles */

.tab-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.tab-list .tab-item {
    position: relative;
    height: 100%;
    color: #201e1e;
    float: left;
    padding: 12px 24px;
}